node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock
.next/
.out/
dist/
build/
.cache/
.vercel/
.turbo/
coverage/
playwright-report/
test-results/
.env
.env.*
!.env.example
.DS_Store
.vscode/
.vercel
